<div class="container">
  <div class="for-input">
    <h2>Введіть дані:</h2>

    <form>
      <label for="a">Довжина Ω:</label><br />
      <input
        type="number"
        id="a"
        name="a"
        [(ngModel)]="inputController.a"
      /><br />
      <label for="b">Ширина Ω:</label><br />
      <input
        type="number"
        id="b"
        name="b"
        [(ngModel)]="inputController.b"
      /><br />
      <label for="c">Ширина Ω<sub>2</sub>:</label><br />
      <input
        type="number"
        id="c"
        name="c"
        [(ngModel)]="inputController.c"
      /><br />
      <label for="deltaA">Кільсть розподілів Ω по довжині:</label><br />
      <input
        type="number"
        id="deltaA"
        name="deltaA"
        [(ngModel)]="inputController.deltaA"
      /><br />
      <label for="deltaB">Кількість розподілів Ω по ширині:</label><br />
      <input
        type="number"
        id="deltaB"
        name="deltaB"
        [(ngModel)]="inputController.deltaB"
      /><br />
      <label for="F">Значення функції f(x;y):</label><br />
      <input
        type="number"
        id="F"
        name="F"
        [(ngModel)]="inputController.F"
      /><br />
      <label for="G">U<sub>0</sub>:</label><br />
      <input
        type="number"
        id="G"
        name="G"
        [(ngModel)]="inputController.G"
      /><br />
      <input type="submit" value="Розрахувати!" (click)="onUpdate()" />
    </form>
  </div>
  <div class="for-table">
    <table>
      <tr *ngFor="let row of answer">
        <td *ngFor="let one of row">{{ one }}</td>
      </tr>
    </table>
  </div>
</div>
