<div class="container">
  <div class="for-input">
    <h2>Введіть дані:</h2>

    <form>
      <label for="a">a:</label><br />
      <input
        type="number"
        id="a"
        name="a"
        [(ngModel)]="inputController.a"
      /><br />
      <label for="b">b:</label><br />
      <input
        type="number"
        id="b"
        name="b"
        [(ngModel)]="inputController.b"
      /><br />
      <label for="c">c:</label><br />
      <input
        type="number"
        id="c"
        name="c"
        [(ngModel)]="inputController.c"
      /><br />
      <label for="d">d:</label><br />
      <input
        type="number"
        id="d"
        name="d"
        [(ngModel)]="inputController.d"
      /><br />
      <label for="deltaA">&Delta;a:</label><br />
      <input
        type="number"
        id="deltaA"
        name="deltaA"
        [(ngModel)]="inputController.deltaA"
      /><br />
      <label for="deltaB">&Delta;b:</label><br />
      <input
        type="number"
        id="deltaB"
        name="deltaB"
        [(ngModel)]="inputController.deltaB"
      /><br />
      <label for="deltaC">&Delta;c:</label><br />
      <input
        type="number"
        id="deltaC"
        name="deltaC"
        [(ngModel)]="inputController.deltaC"
      /><br />
      <label for="deltaD">&Delta;d:</label><br />
      <input
        type="number"
        id="deltaD"
        name="deltaD"
        [(ngModel)]="inputController.deltaD"
      /><br />
      <label for="F">F:</label><br />
      <input
        type="number"
        id="F"
        name="F"
        [(ngModel)]="inputController.F"
      /><br />
      <label for="G">G:</label><br />
      <input
        type="number"
        id="G"
        name="G"
        [(ngModel)]="inputController.G"
      /><br />
      <input type="submit" value="Розрахувати!" (click)="onUpdate()" />
    </form>
  </div>
  <div class="for-table">
    <table>
      <tr *ngFor="let row of answer">
        <td *ngFor="let one of row">{{ one }}</td>
      </tr>
    </table>
  </div>
</div>
